<style>

body {
  background-color: black;
}

h1, h5 {
  color: gold;
}

div.blackblock {
  background-color: black;
  height: 25px;
}

.btn#query {
  background-color: black;
  color: gold;
  border: 1px solid white;
}

.btn#query:hover {
  background-color: grey;
  color: white;
}
</style>
{{>navbar}}
<body>
<h1 class="display-4">Edit Rooms</h1>
<form method="POST" action="" name="" enctype="multipart/form-data">
  
  <div class="form-group">
  <h5>Rooms Pricings Title</h5>
  <input type="room_title" name="room_title" class="form-control" value="{{roomlist.room_title}}" required>
  </div>

  <div class="form-group">
  <h5>Small Room Information</h5>
  <input type="small_roominfo" name="small_roominfo" class="form-control" value="{{roomlist.small_roominfo}}" required>
  </div>

  <h5>Small Room Price</h5>
  <div class="form-group">
  <h5 style="float: left;">$   </h5>
  <input type="number" step="any" style="width: 100px;" name="small_roomprice" min="0" class="form-control" value="{{roomlist.small_roomprice}}" required>
  </div>

  <div class="form-group">
  <h5>Small Room Image</h5>
  <input type="file" id="small_roomimage1" 
  onchange="document.getElementById('imagedisplay1').src = window.URL.createObjectURL(this.files[0])" 
  name="small_roomimage" value="{{small_roomimage}}" required>  

  <img id="imagedisplay1" src="/public/uploads/{{ roomlist.small_roomimage }}"
  alt="" class="border img-thumbnail img-fluid"
  style="width: 200px; height: 150px; padding-bottom: 5px;">
  </div>

  <div class="form-group">
  <h5>Medium Room Information</h5>
  <input type="med_roominfo" name="med_roominfo" class="form-control" value="{{roomlist.med_roominfo}}" required>
  </div> 

  <div class="form-group">
  <h5>Medium Room Price</h5>
  <h5 style="float: left;">$   </h5>
  <input type="number" step="any" style="width: 100px;" name="med_roomprice" min="0" class="form-control" value="{{roomlist.med_roomprice}}" required>
  </div> 

  <div class="form-group">
  <h5>Medium Room Image</h5>
  <input type="file" id="med_roomimage" 
  onchange="document.getElementById('imagedisplay3').src = window.URL.createObjectURL(this.files[0])" 
  name="med_roomimage" value="{{med_roomimage}}" required>  

  <img id="imagedisplay3" src="/public/uploads/{{ roomlist.med_roomimage }}"
  alt="" class="border img-thumbnail img-fluid"
  style="width: 200px; height: 150px; padding-bottom: 5px;">
  </div>

  <div class="form-group">
  <h5>Large Room Information</h5>
  <input type="large_roominfo" name="large_roominfo" class="form-control" value="{{roomlist.large_roominfo}}" required>
  </div> 

  <div class="form-group">
  <h5>Large Room Price</h5>
  <h5 style="float: left;">$   </h5>
  <input type="number" step="any" style="width: 100px;" name="large_roomprice" min="0" class="form-control" value="{{roomlist.large_roomprice}}" required>
  </div> 

  <div class="form-group">
  <h5>Large Room Image</h5>
  <input type="file" id="large_roomimage" 
  onchange="document.getElementById('imagedisplay4').src = window.URL.createObjectURL(this.files[0])" 
  name="large_roomimage" value="{{large_roomimage}}" required>  

  <img id="imagedisplay4" src="/public/uploads/{{ roomlist.large_roomimage }}"
  alt="" class="border img-thumbnail img-fluid"
  style="width: 200px; height: 150px; padding-bottom: 5px;">
  </div>

  <div class="submit">
    <input class="btn" id="query" type="submit">
  </div>

  <div class="blackblock">
  </div>
</form>
</body>