<style>
 body{
  background:#333333;
  color:rgb(255, 251, 0);
}
</style>
<form method="POST" action="/update_choice">
    <h3> Enter the 5 Different Time slot</h3>
<label >Time 1:</label>
  <input type="text" id="time1" name="time1" value={{choice.time1}}><br>
<label >Time 2:</label>
  <input type="text" id="time2" name="time2" value="{{choice.time2}}"><br>
  <label >Time 3:</label>
  <input type="text" id="time3" name="time3" value="{{choice.time3}}"><br>
  <label >Time 4:</label>
  <input type="text" id="time4" name="time4" value="{{choice.time4}}"><br>
  <label >Time 5:</label>
  <input type="text" id="time5" name="time5" value="{{choice.time5}}"><br>
      <h3> Enter the 5 Different Date</h3>
      <label>Date 1:</label>
      <input type="text" id="date1" name="date1" value="{{choice.date1}}"><br>
      <label>Date 2:</label>
      <input type="text" id="date2" name="date2" value="{{choice.date2}}"><br>
      <label>Date 3:</label>
      <input type="text" id="date3" name="date3" value="{{choice.date3}}"><br>
      <label>Date 4:</label>
      <input type="text" id="date4" name="date4" value="{{choice.date4}}"><br>
      <label>Date 5:</label>
      <input type="text" id="date5" name="date5" value="{{choice.date5}}"><br>
    <h3> Enter the 5 Different Locations</h3>
    <label>Location 1:</label>
    <input type="text" id="location1" name='location1' value="{{choice.location1}}"><br>
    <label>Location 2:</label>
    <input type="text" id="location2" name="location2" value="{{choice.location2}}"><br>
    <label>Location 3:</label>
    <input type="text" id="location3" name="location3" value="{{choice.location3}}"><br>
    <label>Location 4:</label>
    <input type="text" id="location4" name="location4" value="{{choice.location4}}"><br>
    <label>Location 5:</label>
    <input type="text" id="location5" name="location5" value="{{choice.location5}}"><br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>