
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    background-color: black;
  }

  .collapsible {
    background-color: rgb(0, 0, 0);
    color: gold;
    cursor: pointer;
    padding: 10px;
    width: 95%;
    outline: white;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    border: 3px solid gold;
    margin: 10px;
    border-radius: 10px;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(197, 153, 8);
    color: black;

  }
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color:black;
  color:rgb(0, 0, 0);
}
</style>
</head>
<body>
{{> navbar}}
<h1 style="justify-content: center;color:gold">Reviews for {{feedback.TypeReview}}: {{#if movie}}{{detail.moviename}}{{/if}}{{#if room}}{{detail.roomname}}{{/if}}{{#if
  song}}{{detail.songname}}{{/if}}</h1>
  <h3 style="color: gold;">Review by {{user.name}}</h3>
  <h3 style="color: gold;">Email: {{user.email}}</h3>
<form action="/review/replyreview/{{feedback.uuid}}" method="post">
<button class="collapsible">{{feedback.feedback}}</button>
<div class="content">

            <div class="form-group">
                <label for="reply">Enter your reply</label>
                <input type="string" name="reply" class="form-control" value="" required>
            </div>
            

</div>

				<button type="submit" class="btn btn-primary">Send Message</button>
</form>
</div>
<br>
<br>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
