<style>
body {
  background-color: black;
}

h1, h5 {
  color: gold;
}
  
div.blackblock {
  background-color: black;
  height: 50px;
}
  
.btn#query {
    background-color: black;
    color: gold;
    border: 1px solid white;
  }
  
.btn#query:hover {
    background-color: grey;
    color: white;
 }
 </style>

<link rel="stylesheet" type="text/css" href="public/css/edithomeimagepolicy.css" media="screen"/>
<head>
<meta charset="UTF-8">
</head>
<body>
  {{>navbar}}
<h1 class="display-4">Edit Home Policy and Images</h1>

<form method="post" action="/edithomeimagepolicy" name="" enctype="multipart/form-data">

  <div class="form-group">
    {{ hey }} 
    {{!-- Replace with flashmsg --}}
  <h5>Home Image</h5>
  <input type="file" id="homeimage" 
  onchange="document.getElementById('imagedisplay1').src = window.URL.createObjectURL(this.files[0])" 
  name="homeimage" value="{{homeimage}}" required>  

  <img id="imagedisplay1" src="/public/uploads/{{ homeimagepolicy.homeimage }}"
  alt="" class="border img-thumbnail img-fluid"
  style="width: 225px; height: 160px; padding-bottom: 5px;">
  </div>

  <h5>Home Policy</h5>
  <div class="form-group">
    <input type="homepolicy" name="homepolicy" class="form-control" value="{{ homeimagepolicy.homepolicy}}" required>
  </div>

  <h5>Policy Image</h5>
  <div>
  <input type="file" id="homepolicyimage" 
  onchange="document.getElementById('imagedisplay2').src = window.URL.createObjectURL(this.files[0])" 
  name="homepolicyimage" value="{{homepolicyimage}}" required>  

  <img id="imagedisplay2" src="/public/uploads/{{ homeimagepolicy.homepolicyimage }}"
  alt="" class="border img-thumbnail img-fluid"
  style="width: 600px; height: 100px; padding-bottom: 5px;">
  </div>
  
  <div class="blackblock">
  </div>

  <div class="submit">
  <input class="btn" id="query" type="submit">
  </div>

  <div class="blackblock2">
  </div>

</form>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
</body>