<style>
  body {
    margin-top: 20px;
    background-color: black;
  }

  a {
    color: whitesmoke;
  }

  .button {
    color: white;
    float: left;
  }

  .button2 {
    float: right;
    padding-right: 30px;
  }

  input#movieimage {
    color: black;
  }

  th.text-center {
    width: 200px;
  }

  td {
    color: gold;
  }

  label {
    font-size: 13px;
  }

  div.blackblock {
    background-color: black;
    height: 25px;
  }

  div.form-check.form-check-inline,
  span {
    width: 50px;
  }

  a#add_row.btn.btn-success.pull-left {
    background-color: green;
    color: white;
    border: 1px solid white;
  }

  a#delete_row.btn.btn-danger.pull-centre {
    background-color: crimson;
    color: white;
    border: 1px solid white;
  }

  input.btn.btn-primary.pull-right {
    background-color: black;
    color: gold;
    border: 1px solid white;
  }

  a#add_row.btn.btn-success.pull-left:hover,
  a#delete_row.btn.btn-danger.pull-centre:hover,
  input.btn.btn-primary.pull-right:hover {
    background-color: grey;
    color: white;
    border: 1px solid white;
  }
</style>
<script>
  $(document).ready(function () {
    var i = 0;
    var imagevalue = 1;
    $("#add_row").click(function () {
      $('#addr' + i).html("<td> " + (i + 1) + "</td>" +
        '<td><div style="width: 110px;"><img id="imagedisplay' + (imagevalue) + '"src="/public/img/No-Image-PlaceHolder.png" alt="" class="border img-thumbnail img-fluid" style="width: 100px; height: 150px; padding-bottom: 5px;"><div style="padding-left: 5px;">' +
        '<input type="file" id="movieimage" onchange="document.getElementById(' + "'imagedisplay" + (imagevalue) + "')" + '.src = window.URL.createObjectURL(this.files[0])" name="movieimage" value="{{movieimage}}" required> </div></div></td>' +

        '<td><input type="string" name="moviename" placeholder="Inside Out" class="form-control" style="color: black; width: 110px;" value="{{moviename}}" required /></td>' +

        '<td><select style="width: 100px;" name="movieagerating" required class="form-control">' +
        '<option style="color: black;">PG</option>' +
        '<option style="color: black;">PG13</option>' +
        '<option style="color: black;">NC16</option>' +
        '<option style="color: black;">M18</option>' +
        '<option style="color: black;">R21</option></select></td>' +

        '<td><input type="number" min="0" placeholder="120" step="any" name="movieduration" value="{{movieduration}}" class="form-control" style="color: black;" required></td>' +

        '<td>Start:<input style="border-radius: 5px; width: 200px;" type="datetime-local" id="meeting-time" name="moviereleasedate" value={{ moviereleasedate }} placeholder="2021-08-16T19:30" required>' +
        'End:<input style="border-radius: 5px; width: 200px;" type="datetime-local" id="meeting-time" name="movieenddate" value={{ movieenddate }} placeholder="2021-08-16T19:30" required></td>' +

        '<td><select style="width: 100px;" name="moviegenre" required class="form-control">' +
        '<option style="color: black;">Horror</option>' +
        '<option style="color: black;">Comedy</option>' +
        '<option style="color: black;">Animation</option>' +
        '<option style="color: black;">Romance</option>' +
        '<option style="color: black;">Adventure</option>' +
        '<option style="color: black;">Emotional</option>' +
        '<option style="color: black;">Action</option></select></td>');
      $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
      i++;
      imagevalue++;
    });

    $("#delete_row").click(function () {
      if (i > 1) {
        $("#addr" + (i - 1)).html('');
        i--;
      }
    });
  });


</script>

{{> navbar}}
<form class="container" method="POST" action="/prod/movie/createmovie" name="" enctype="multipart/form-data">
  <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 style="color: gold; padding:25px; ">Add Movies</h1>
        <div class="container col-xs-12">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                  <tr>
                    <th class="text-center" style="color: gold;">
                      #
                    </th>
                    <th class="text-center" style="color: gold;">
                      Movie Image
                    </th>
                    <th class="text-center" style="color: gold;">
                      Movie Name
                    </th>
                    <th class="text-center" style="color: gold;">
                      Movie Age Rating
                    </th>
                    <th class="text-center" style="color: gold;">
                      Movie Duration (Mins)
                    </th>
                    <th class="text-center" style="color: gold; width: 50px;">
                      Start Date for Movie Release/
                      End Date for Movie
                    </th>
                    <th class="text-center" style="color: gold;">
                      Movie Genres
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr id='addr0' style="color: gold;">
                    <td style="color: gold;">
                      1
                    </td>
                    <td>
                      <div style="width: 110px;">
                        <img id="imagedisplay" src="/public/img/No-Image-PlaceHolder.png" alt=""
                          class="border img-thumbnail img-fluid"
                          style="width: 100px; height: 150px; padding-bottom: 5px;">
                        <div style="padding-left: 5px;">
                          <input type="file" id="movieimage"
                            onchange="document.getElementById('imagedisplay').src = window.URL.createObjectURL(this.files[0])"
                            name="movieimage" value="{{movieimage}}" required>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="string" name='moviename' placeholder='Inside Out' class="form-control"
                        style="color: black; width: 110px;" value="{{moviename}}" required />
                    </td>
                    <td>
                      <select style="width: 100px;" name="movieagerating" required class="form-control">
                        <option style="color: black;">PG</option>
                        <option style="color: black;">PG13</option>
                        <option style="color: black;">NC16</option>
                        <option style="color: black;">M18</option>
                        <option style="color: black;">R21</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" min="0" placeholder="120" step="any" name='movieduration'
                        value="{{movieduration}}" class="form-control" style="color: black;" required>
                    </td>

                    <td>
                      Start:
                      <input style="border-radius: 5px; width: 200px;" type="datetime-local" id="meeting-time"
                        name="moviereleasedate" value={{ moviereleasedate }} placeholder="2021-08-16T19:30" required>
                      End:
                      <input style="border-radius: 5px; width: 200px;" type="datetime-local" id="meeting-time"
                        name="movieenddate" value={{ movieenddate }} placeholder="2021-08-16T19:30" required>
                    </td>
                    <td>
                      <select style="width: 100px;" name="moviegenre" required class="form-control">
                        <option style="color: black;">Horror</option>
                        <option style="color: black;">Comedy</option>
                        <option style="color: black;">Animation</option>
                        <option style="color: black;">Romance</option>
                        <option style="color: black;">Adventure</option>
                        <option style="color: black;">Emotional</option>
                        <option style="color: black;">Action</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="button">
            <a id="add_row" class="btn btn-success pull-left">Add Row</a>
            <div style="width: 10px; float:left; "></div>
            <a id='delete_row' class="btn btn-danger pull-centre">Delete Row</a>
            <div class="blackblock"></div>
          </div>
        </div>
      </div>
      <div class="button2">
        <input type="submit" class="btn btn-primary pull-right" value="Submit">
      </div>
    </div>
    <div class="blackblock"></div>
  </div>
  </div>
  </div>
</form>