<style>
  body {
    background-color: black;
  }

  h1,
  h5,
  label {
    color: gold;
  }

  div.blackblock {
    background-color: black;
    height: 25px;
  }

  .btn#query {
    background-color: black;
    color: gold;
    border: 1px solid white;
  }

  .btn#query:hover {
    background-color: grey;
    color: white;
  }
</style>
{{>navbar}}
<h1 class="display-4">Update Song</h1>

<form method="POST" action="/song/updatesong/{{song.song_uuid}}?_method=PUT" name="" enctype="multipart/form-data">

  <div class="form-group">
    <h5>Song Image</h5>
    <input type="file" id="songimage"
      onchange="document.getElementById('imagedisplay').src = window.URL.createObjectURL(this.files[0])"
      name="songimage" value="{{ song.songimage }}">

    <img id="imagedisplay" src="/public/uploads/{{song.songimage}}" alt="" class="border img-thumbnail img-fluid"
      style="width: 110px; height: 160px; padding-bottom: 5px;">
  </div>

  <div class="form-group">
    <h5>Song Name</h5>
    <input type="songname" name="songname" class="form-control" value="{{song.songname}}" required>
  </div>

  <h5>Song Age Rating</h5>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="G" value="G" name="songagerating" {{radioCheck
      song.songagerating "G" }}>
    <label class="form-check-label" for="G">G</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="PG" value="PG" name="songagerating" {{radioCheck
      song.songagerating "PG" }}>
    <label class="form-check-label" for="PG">PG</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="PG13" value="PG13" name="songagerating" {{radioCheck
      song.songagerating "PG13" }}>
    <label class="form-check-label" for="PG13">PG13</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="NC13" value="NC13" name="songagerating" {{radioCheck
      song.songagerating "NC13" }}>
    <label class="form-check-label" for="NC13">NC13</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="M18" value="M18" name="songagerating" {{radioCheck
      song.songagerating "M18" }}>
    <label class="form-check-label" for="M18">M18</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="R21" value="R21" name="songagerating" {{radioCheck
      song.songagerating "R21" }}>
    <label class="form-check-label" for="R21">R21</label>
  </div>

  <div class="blackblock"></div>

  <div class="form-group">
    <h5>Song Duration (Mins)</h5>
    <input type="number" placeholder="120" step="any" style="width: 100px;" name="songduration" min="0"
      class="form-control" value="{{song.songduration}}" required>
  </div>

  <div class="form-group">
    <h5>Song Genres</h5>

    <span>
      <input type="radio" id="Pop" name="songgenre" value="Pop" {{radioCheck song.songgenre "Pop" }}>
      <label for="Pop"> Pop </label><br>
    </span>

    <span>
      <input type="radio" id="Metal" name="songgenre" value="Metal" {{radioCheck song.songgenre "Metal" }}>
      <label for="Metal"> Metal </label><br>
    </span>

    <span>
      <input type="radio" id="Rock" name="songgenre" value="Rock" {{radioCheck song.songgenre "Rock" }}>
      <label for="Rock"> Rock </label><br>
    </span>

    <span>
      <input type="radio" id="Country" name="songgenre" value="Country" {{radioCheck song.songgenre "Country" }}>
      <label for="Country"> Country </label><br>
    </span>

    <span>
      <input type="radio" id="Rap" name="songgenre" value="Rap" {{radioCheck song.songgenre "Rap" }}>
      <label for="Rap"> Rap </label><br>
    </span>

    <span>
      <input type="radio" id="Electronic" name="songgenre" value="Electronic" {{radioCheck song.songgenre "Electronic"
        }}>
      <label for="Electronic"> Electronic </label><br>
    </span>

    <span>
      <input type="radio" id="Jazz" name="songgenre" value="Jazz" {{radioCheck song.songgenre "Jazz" }}>
      <label for="Jazz"> Jazz </label><br>
    </span>

    <span>
      <input type="radio" id="Folk" name="songgenre" value="Folk" {{radioCheck song.songgenre "Folk" }}>
      <label for="Folk"> Folk </label>
    </span>

  </div>

  <div class="submit">
    <input class="btn" id="query" type="submit">
  </div>

</form>