<style>

body {
  background-color: black;
}

div.blackblock {
  background-color: black;
  width: 800px;
  height: 358px;
}

.btn#query {
  background-color: black;
  color: gold;
  border: 1px solid white;
}

.btn#query:hover {
  background-color: grey;
  color: white;
}
</style>

<body>
<h1 class="display-4">Edit Rooms</h1>
<form method="POST" action="" name="" enctype="multipart/form-data">
  
  <div class="form-group">
  <h5>Rooms Pricings Title</h5>
  <input type="room_title" name="room_title" class="form-control" value="{{roomlist.room_title}}" required>
  </div>

  <div class="form-group">
  <h5>Small Room Information</h5>
  <input type="small_roominfo" name="small_roominfo" class="form-control" value="{{roomlist.small_roominfo}}" required>
  </div>

  <div class="form-group">
  <h5>Small Room Price</h5>
  <input type="small_roomprice" name="small_roomprice" class="form-control" value="{{roomlist.small_roomprice}}" required>
  </div>

  <div class="form-group">
  <h5>Small Room Image 1</h5>
  <input type="file" name="small_roomimage1" value="{{roomlist.small_roomimage1}}" required>
  </div>

  <div class="form-group">
  <h5>Small Room Image 2</h5>
  <input type="file" name="small_roomimage2" value="{{roomlist.small_roomimage2}}" required>
  </div>

  <div class="form-group">
  <h5>Medium Room Information</h5>
  <input type="med_roominfo" name="med_roominfo" class="form-control" value="{{roomlist.med_roominfo}}" required>
  </div> 

  <div class="form-group">
  <h5>Medium Room Price</h5>
  <input type="med_roomprice" name="med_roomprice" class="form-control" value="{{roomlist.med_roomprice}}" required>
  </div> 

  <div class="form-group">
  <h5>Medium Room Image</h5>
  <input type="file" name="med_roomimage" value="{{roomlist.med_roomimage}}" required>
  </div>

  <div class="form-group">
  <h5>Large Room Information</h5>
  <input type="large_roominfo" name="large_roominfo" class="form-control" value="{{roomlist.large_roominfo}}" required>
  </div> 

  <div class="form-group">
  <h5>Large Room Price</h5>
  <input type="large_roomprice" name="large_roomprice" class="form-control" value="{{roomlist.large_roomprice}}" required>
  </div> 

  <div class="form-group">
  <h5>Large Room Image 1</h5>
  <input type="file" name="large_roomimage1" value="{{roomlist.large_roomimage1}}" required>
  </div>

  <div class="form-group">
  <h5>Large Room Image 2</h5>
  <input type="file" name="large_roomimage2" value="{{roomlist.large_roomimage2}}" required>
  </div>

  <div class="submit">
    <input class="btn" id="query" type="submit">
  </div>

  <div class="blackblock1">
  </div>
</form>
</body>