<title>Home</title>

<style>
  span.pagination-info,
  button.btn.btn-secondary.dropdown-toggle,
  div.page-list {
    display: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  * {
    color: gold;
  }

  body {
    background-color: black;
  }

  .homecontent,
  .homeimagedes,
  .footer,
  .comingsoontitle {
    color: gold;
    font-size: 13px;
  }

  .comingsoon1des,
  .comingsoon2des,
  .comingsoon3des,
  .comingsoon4des {
    color: gold;
    font-size: 13px;
    padding-top: 5px;
  }

  div.footer {
    font-size: 10px;
  }

  div.homedescription {
    position: absolute;
    padding: 10px;
    top: 115px;
    left: 75px;
    height: 450px;
    width: 275px;
    border-color: gold;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
  }

  div.homeimageandpolicy {
    position: absolute;
    top: 115px;
    left: 315px;
    height: 475px;
    width: 750px;
  }

  div.moviescomingsoon {
    border-color: gold;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    position: absolute;
    padding-left: 25px;
    padding-top: 10px;
    top: 115px;
    left: 885px;
    height: 450px;
    width: 300px;
  }

  #homeimage,
  .releaseimage {
    border-color: gold;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
  }

  div.homeimage {
    padding-left: 50px;
    height: 300px;
    width: 350px;
  }

  div.homeimagedes {
    font-size: 10px;
    padding-left: 50px;
    width: 550px;
    height: 35px;
  }

  div.homepolicy {
    padding-top: 10px;
    padding-left: 50px;
    width: 500px;
    height: 125px;
  }

  div.comingsoontitle {
    text-align: center;
    padding: 5px;
  }

  div.comingsoon1,
  div.comingsoon2,
  div.comingsoon3,
  div.comingsoon4 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    float: left;
    width: 125px;
    height: 183px;
  }

  div.homecontentedit1 {
    padding-top: 275px;
    padding-left: 200px;
  }

  div.homecontentedit2 {
    padding-right: 5px;
    float: right;
  }

  div.homecontentedit3 {
    padding-left: 270px;
  }
</style>

<body>
  {{>navbar}}
  <div class="homedescription">
    <div class="homecontent">
      {{ homedescription }}
    </div>
    {{#if (cmp_eq user.role "staff") }}
    <div class="homecontentedit1">
      <form action="../edithomedes">
        <input type="submit" value="Edit" class="btn btn-outline-warning">
      </form>
    </div>
    {{/if}}
  </div>

  <div class="homeimageandpolicy">
    <div class="homeimage">
      <img id="homeimage" style="width:500px; " src="public/uploads/{{ homeimage }}">
    </div>
    <div class="homeimagedes">
      {{ homepolicy }}
      {{#if (cmp_eq user.role "staff") }}
      <div class="homecontentedit2">
        <form action="../edithomeimagepolicy">
          <input type="submit" value="Edit" class="btn btn-outline-warning">
        </form>
      </div>
      {{/if}}
    </div>
    <div class="homepolicy">
      <img style="width:500px; height: 70px;" src="public/uploads/{{ homepolicyimage }}">
      <div class="footer">© 2020 Teo Heng. All rights reserved.</div>
      <div class="footer">© 2020 Golden Village. All rights reserved.</div>
    </div>
  </div>

  <div class="moviescomingsoon">
    <div class="comingsoontitle">INCOMING MOVIES!</div>
    <div class="comingsoon1">
      <img class="releaseimage" style="width: 90px; height: 140px; padding-bottom: 5px;" src="../public/uploads/{{ release_img1 }}"
        alt="Norway" class="w3-hover-opacity">
      <div class="comingsoon1des">
        {{ Countdown release_img1 countdown1 }}
      </div>
    </div>
    <div class="comingsoon2">
      <img class="releaseimage" style="width: 90px; height: 140px; padding-bottom: 5px;" src="../public/uploads/{{ release_img2 }}"
        alt="Norway" class="w3-hover-opacity">
      <div class="comingsoon2des">
        {{ Countdown release_img2 countdown2 }}
      </div>
    </div>
    <div class="comingsoon3">
      <img class="releaseimage" style="width: 90px; height: 140px; padding-bottom: 5px;" src="../public/uploads/{{ release_img3 }}"
        alt="Norway" class="w3-hover-opacity">
      <div class="comingsoon3des">
        {{ Countdown release_img3 countdown3 }}
      </div>
    </div>
    <div class="comingsoon4">
      <img class="releaseimage" style="width: 90px; height: 140px; padding-bottom: 5px;" src="../public/uploads/{{ release_img4 }}"
        alt="Norway" class="w3-hover-opacity">
      <div class="comingsoon4des">
        {{ Countdown release_img4 countdown4 }}
      </div>
    </div>
  </div>
</body>
{{> footer}}