<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script
  src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<style>
  * {
    color: gold;
  }

  body {
    background-color: black;
  }

  h2,
  h3,
  h4,
  h5,
  .MovieName,
  .MovieTag,
  .MovieDuration,
  .SongName,
  .SongTag,
  .SongDuration {
    color: gold;
  }

  .RoomsPricing {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    padding-left: 5px;
    width: 300px;
    float: left;
  }

  .GVE {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 60%;
    float: left;
    background-color: gold;
    border: 1px solid grey;
  }

  .GVE h4,
  .GVE h5 {
    padding-left: 5px;
    float: left;
    color: black;
    background-color: gold;
  }

  .List {
    position: relative;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 600px;
    float: left;
  }

  .filter {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 33%;
    float: right;
    border: 1px solid grey;
  }

  .FilterOptions {
    list-style-type: none;
  }

  .List img {
    width: 150px;
    height: 235px;
    float: left;
  }

  .ListTable1 {
    width: 820px;
    height: 400px;
    color: gold;
  }

  .ListTable2 {
    width: 820px;
    height: 400px;
    float: left;
    color: gold;
  }

  .w3-container w3-white1 {
    width: 50%;
    float: left;
  }

  .w3-container w3-white2 {
    width: 35%;
    float: left;
  }

  .w3-container w3-white3 {
    width: 15%;
    float: right;
  }

  .Title {
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
    float: left;
  }

  .purchase {
    float: right;
    width: 95px;
    height: 40px;
    border: 1px solid;
    border-color: gold;
    color: gold;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .Review1 {
    float: right;
    width: 95px;
    height: 40px;
    border: 1px solid;
    border-color: gold;
    color: gold;
    position: absolute;
    bottom: 8px;
    right: 125px;
  }

  .purchase:hover,
  .Review1:hover,
  .filter:hover {
    background-color: gold;
    color: black;
  }

  th,
  td {
    font-size: 12.5px;
  }

  input.form-control.search-input {
    width: 165px;
  }

  .dropdown-menu.show,
  .dropdown-menu.dropdown-menu-right.show,
  .dropdown-item {
    color: gold;
    background-color: black;
    border-color: white;
  }

  label.dropdown-item.dropdown-item-marker:hover,
  .dropdown-item:hover {
    background-color: darkgrey;
    border-color: white;
  }
</style>

<title>Movie/Karaoke Selection</title>
{{>navbar}}
<div class="RoomsPricing">
  <h2>Location</h2>
  {{#if (cmp_eq user.role "staff") }}
  {{!-- <form action="../rooms/chooseeditroomstable">
    <input type="submit" value="Edit Rooms" class="btn btn-outline-warning">
  </form> --}}

  <div style="float: left; padding-top: 10px;">
    <div class="submit">
      <form action="../rooms/chooseeditroomstable">
        <input type="submit" value="Edit Rooms" class="btn btn-outline-warning">
      </form>
    </div>
    <div class="blackblock1"></div>
  </div>

  {{/if}}
  <div class="w3-third w3-container w3-margin-bottom">
    <table id="id" data-toggle="table" data-search="true" data-pagination="true" data-total-field="total"
      data-data-field="rows" data-side-pagination="server" data-sort-name="location" data-server-sort="true"
      data-search="true" data-pagination="true" data-page-list="[3, 10, 25, 50, All]" data-show-columns-search="true"
      data-addrbar="true" data-show-custom-view="true" data-custom-view="customViewFormatter"
      data-url="/rooms/chooseeditroomstable-data">
      <thead>
        <tr>
          <th data-field="dateCreated" data-sortable="true">Creation Date</th>
          <th data-field="dateUpdated" data-sortable="true">Update Date</th>
          <th data-field="roomname" data-sortable="true">Name</th>
          <th data-field="roomsize" data-sortable="true">Size</th>
          <th data-field="roomprice" data-sortable="true">Price</th>
          <th data-field="roominfo" data-sortable="true">Information</th>
          <th data-field="location" data-sortable="true">Location</th>
        </tr>
      </thead>
    </table>
    <template id="profileTemplate" style="color: black;">
      <div class="mt-2">
        <div class="card" style="border-color: white; background-color: black;">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-4 col-md-6">
                <img src="/public/uploads/%IMAGE%" style="width: 150px;" alt="">
                <div>
                  <p class="mb-0 text-truncated" style="width: 175px;px; font-size: 15px; padding-top:15px;">Name:
                    %name%
                  </p>
                  <p class="mb-0 text-truncated" style="width:175px; font-size: 15px;">Location: %location%</p>
                  <p class="mb-0 text-truncated" style="width:175px; font-size: 15px;">Size: %roomtype%</p>
                  <p class="mb-0 text-truncated" style="width:175px; font-size: 15px;">Price: $%price%</p>
                  <p class="mb-0 text-truncated" style="width:240px; font-size: 15px;">Information: %info%</p>
                </div>
              </div>

              <div class="col-12 col-lg-4">
              </div>
              {{#if (cmp_eq user.role "customer") }}
              <div class="col-12 col-lg-4">
                <small>Booking Room:</small>
                <a href="/user/booking/{{movie}}/%id%"><button class="btn btn-outline-info btn-block"
                    title="View Profile" style="width: auto;"> Movie</button></a>
              </div>
              <div class="col-12 col-lg-4">
                <small>Booking Room</small>
                <a href="/user/booking/{{song}}/%uuid%"><button type="button" class="btn btn-outline-primary btn-block"
                    title="Options">Song</button></a>
                {{else}}
                {{!-- <p><a href="/auth/login"><button class="btn btn-outline-primary btn-block">login to
                      book!</button></a>
                </p> --}}
                <div style="padding-top: 10px; padding-left: 15px;">
                  <div class="submit">
                    <form action="../auth/login">
                      <input type="submit" value="Login to Book!" class="btn btn-outline-warning">
                    </form>
                  </div>
                  <div class="blackblock1"></div>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>

<div class="List">
</div>

<div class="List" style="padding-left: 15px;">
  {{!-- <h3>Book a room now for singing/watching movies!</h3> --}}
  <div class="ListTable1">
    <h1>Movie Data Table</h1>
    <div style="float: left; padding-top: 10px;" class="CreateMoviesAndSongs">
      <div class="submit">
        <form action="../movie/createmovie">
          <input type="submit" value="Add Movie" class="btn btn-outline-warning">
        </form>
      </div>
      <div class="blackblock1"></div>
    </div>
    {{!-- <div id="toolbar" class="select">
      <select class="form-control">
        <option value="">Export Basic</option>
        <option value="all">Export All</option>
        <option value="selected">Export Selected</option>
      </select>
    </div> --}}
    <table id="id" data-show-export="true" data-toggle="table" data-search="true" data-pagination="true"
      data-total-field="total" data-data-field="rows" data-show-columns-toggle-all="true" data-side-pagination="server"
      data-sort-name="dateCreated" data-height="600" data-silent-sort="false" data-server-sort="true" data-search="true"
      {{!-- data-page-number="50" --}} data-pagination="true" {{!-- data-page-size="5" --}}
      data-page-list="[10, 25, 50, 100, 200, All]" data-show-refresh="true" data-show-columns="true"
      data-show-columns-search="true" data-addrbar="true" data-url="/movie/chooseeditmoviestable-data">
      <thead>
        <tr>
          <th data-field="dateCreated" data-sortable="true">Creation Date</th>
          <th data-field="dateUpdated" data-sortable="true">Update Date</th>
          <th {{!-- data-field="movieimage" --}} data-formatter="table_row_image2">Movie Poster</th>
          <th data-field="moviename" data-sortable="true">Name</th>
          <th data-field="movieagerating" data-sortable="true">Age Rating</th>
          <th data-field="movieduration" data-sortable="true">Duration</th>
          <th data-field="moviegenre" data-sortable="true">Genre(s)</th>
          <th data-formatter="table_row_edit2">Edit</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="List" style="height: 35px;">
  </div>
  {{!-- {{#if (cmp_eq user.role "staff") }}
  <form action="../movie/chooseeditmoviestable">
    <input type="submit" value="Movies Information" class="btn btn-outline-warning">
  </form>
  <div class="List">
  </div>
  <form action="../song/chooseeditsongstable">
    <input type="submit" value="Songs Information" class="btn btn-outline-warning">
  </form>
  {{/if}} --}}

  <div class="ListTable2">
    <h1>Song Data Table</h1>
    <div style="float: left; padding-top: 10px;" class="CreateMoviesAndSongs">
      <div class="submit">
        <form action="../song/createsong">
          <input type="submit" value="Add Song" class="btn btn-outline-warning">
        </form>
      </div>
      <div class="blackblock1"></div>
    </div>
    <table width="100%" id="id" data-toolbar="#toolbar" data-show-export="true" data-toggle="table" data-search="true"
      data-pagination="true" data-total-field="total" data-data-field="rows" data-show-columns-toggle-all="true"
      data-side-pagination="server" data-sort-name="dateCreated" data-height="600" data-silent-sort="false"
      data-server-sort="true" data-search="true" {{!-- data-page-number="50" --}} data-pagination="true" {{!--
      data-page-size="5" --}} data-page-list="[10, 25, 50, 100, 200, All]" data-show-refresh="true"
      data-show-columns="true" data-show-columns-search="true" data-addrbar="true"
      data-url="/song/chooseeditsongstable-data">
      <thead>
        <tr>
          <th data-field="dateCreated" data-sortable="true">Creation Date</th>
          <th data-field="dateUpdated" data-sortable="true">Update Date</th>
          <th {{!-- data-field="movieimage" --}} data-formatter="table_row_image">Song Poster</th>
          <th data-field="songname" data-sortable="true">Name</th>
          <th data-field="songagerating" data-sortable="true">Age Rating</th>
          <th data-field="songduration" data-sortable="true">Duration</th>
          <th data-field="songgenre" data-sortable="true">Genre(s)</th>
          <th data-formatter="table_row_edit">Edit</th>
        </tr>
      </thead>
    </table>
  </div>

  <script>
    function customViewFormatter(data) {
      var template = $('#profileTemplate').html()
      var view = ''
      $.each(data, function (i, row) {
        view += template.replace('%location%', row.location)
          .replace('%IMAGE%', row.roomimage)
          .replace('%roomtype%', row.roomsize)
          .replace('%price%', row.roomprice)
          .replace('%info%', row.roominfo)
          .replace('%name%', row.roomname)
          .replace('%id%', row.room_uuid)
          .replace('%uuid%', row.room_uuid);
      })
      return `<div class="row mx-0">${view}</div>`
    }
    function table_row_image(value, row, index) {
      return `
		<img src="/public/uploads/${row.songimage}" 
        style="width: 85px; height: 130px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
    }
    /**
     * Formats the action column for each row of data
     **/
    function table_row_edit(value, row, index) {
      return `
		<a href="../song/updatesong/${row.song_uuid}">
			<i class="fa fa-edit"></i>
		</a>
		<a href="../song/deletesong/${row.song_uuid}">
			<i class="fa fa-trash"></i>
		</a>
		`;
    }
    function table_row_image2(value, row, index) {
      return `
		<img src="/public/uploads/${row.movieimage}" 
        style="width: 85px; height: 130px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
    }
    /**
     * Formats the action column for each row of data
     **/
    function table_row_edit2(value, row, index) {
      return `
		<a href="../movie/updatemovie/${row.movie_uuid}">
			<i class="fa fa-edit"></i>
		</a>
		<a href="../movie/deletemovie/${row.movie_uuid}">
			<i class="fa fa-trash"></i>
		</a>
		`;
    }
  </script>


  {{!-- <div class="List">
    <div class="w3-container w3-white1">
      <img src="/public/img/moviewatch.png" alt="Norway" class="w3-hover-opacity">
    </div>
    <div class="w3-container w3-white2">
      <div class="Title">
        <h6>Movies Added:</h6>
      </div>
      <div class="MoviesAdded">
        <div class="MovieAdd1">
          <img style="width: 75px; height: 100px;" src="/public/img/img3722.webp" alt="Norway" class="w3-hover-opacity">
          <div class="GenreTags1">
            <div class="MovieTag"> Horror </div>
          </div>
          <div class="MovieName">{{ moviename }} </div>
          <div class="MovieRating">{{ movieagerating }}</div>
          <div class="MovieDuration">{{ movieduration }}</div>
        </div>
        <div class="MovieAdd2">
          <img style="width: 75px; height: 100px;" src="/public/img/img3725.webp" alt="Norway" class="w3-hover-opacity">
          <div class="GenreTags2">
            <div class="MovieTag"> Comedy </div>
            <div class="MovieTag"> Animation </div>
          </div>
          <div class="MovieName">{{ moviename }} </div>
          <div class="MovieRating">{{ movieagerating }}</div>
          <div class="MovieDuration">{{ movieduration }}</div>
        </div>
      </div>
      <p><a href="/retrieveReview/{{ userid }}"><button class="Review1"> Review!</button></a></p>
    </div>
  </div>
  <div class="List">
    <div class="w3-container w3-white1">
      <img src="/public/img/karaokesing.png" alt="Norway" class="w3-hover-opacity">
    </div>
    <div class="w3-container w3-white2">
      <div class="Title">
        <h6>Songs Added:</h6>
      </div>
      <div class="SongsAdded">
        <div class="SongAdd1">
          <img style="width: 75px; height: 100px;" src="/public/img/orangealbum.jpg" alt="Norway"
            class="w3-hover-opacity">
          <div class="GenreTags1">
            <div class="SongTag"> Pop </div>
          </div>
          <div class="SongName">{{ songname }} </div>
          <div class="SongRating">{{ songagerating }}</div>
          <div class="SongDuration">{{ songduration }}</div>
        </div>
        <div class="SongAdd2">
          <img style="width: 75px; height: 100px;" src="/public/img//XXXV.jpg" alt="Norway" class="w3-hover-opacity">
          <div class="GenreTags2">
            <div class="SongTag"> Rock </div>
            <div class="SongTag"> Rap </div>
          </div>
          <div class="SongName">{{ songname }} </div>
          <div class="SongRating">{{ songagerating }}</div>
          <div class="SongDuration">{{ songduration }}</div>
        </div>
      </div>
      <p><a href="/retrieveReview/{{ userid }}"><button class="Review1"> Review! </button></a></p>
    </div>
  </div> --}}