<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    body {
    background: rgb(0, 0, 0)
}

.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: orange;
    border: none;
    color: #fff;
    height: 350px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center
}

.container {
    height: 100vh
}

.card h1 {
    font-size: 48px;
    margin-bottom: 0px
}

.card span {
    font-size: 28px
}

.image {
    position: absolute;
    opacity: .1;
    left: 0;
    top: 0
}

.image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .1
}
#regForm {
    background-color: gold;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

#register {
    color: #000000
}

h1 {
    text-align: center
}

.details {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none
}
#pay{
    width: 20%
}

.tab input:focus {
    border: 1px solid #6a1b9a !important;
    outline: none
}

input.invalid {
    border: 1px solid #e03a0666
}

.tab {
    display: none
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important
}

#prevBtn {
    background-color: #bbbbbb
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}
#promo_code{
    position: fixed;
    bottom: 100px;
    right: 0px; 
    background-color: rgb(0, 0, 0);
    color: gold;
    border: 2px solid gold;
    border-radius: 10px;
}
#promo_code:hover{
    color: black;
    background-color: gold;
}
.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #000000;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    color: #fff;
    background: #000000;
    opacity: 1
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}
</style>
<style>
    table,
    td,
    th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }
</style>
{{> navbar}}
<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm" action="/user/booking/{{choice}}/{{room.room_uuid}}" method="post" >
                <h1 id="register">Booking Room for {{choice}}</h1>
                <div class="all-steps" id="all-steps"> <span class="step"><i class="fa fa-book"></i></span></div>
                <div>
                <input type="text" id="room_id" value="{{room.room_uuid}}" style="display: none;">
                    <h5> {{room.location}}</h5>
                    <p>Chosen <bold>location</bold></p>
                    <h5> {{room.roomsize}}</h5>
                    <p>Chosen <bold>Room type</bold>
                    </p>
                <h5> {{room.roomname}}</h5>
                    <p>Room Name
                    </p>
                    <h5> ${{room.roomprice}}</h5>
                    <p>Price
                    </p>
                </div>
                <div>
                    <h5>Select the Time Slot</h5>
                   <input type="radio" name="time" id="time" value="9am to 11.45am" oninput="mytime()">
                    <label for="small">9am to 11.45am</label><br>
                    <input type="radio" id="time" name="time" value="12pm to 2.45pm" oninput="mytime()">
                    <label for="medium">12pm to 2.45pm</label><br>
                    <input type="radio" id="time" name="time" value="3pm to 5.45pm" oninput="mytime()">
                    <label for="large">3pm to 5.45pm</label><br>
                    <input type="radio" id="time" name="time" value="6pm to 8.45pm" oninput="mytime()">
                    <label for="large1">6pm to 8.45pm</label> <br>
                    <input type="radio" id="time" name="time" value="9pm to 11.45pm" oninput="mytime()">
                    <label for="large2">9pm to 11.45pm</label> 
                </div>
                <div >
                    <div id="date">
                    <h5>Choose the <bold>Date:</bold></h5>
                    <input type="text" id="datepicker" name="date" onclick="mydate()" >
                    </div>
                    <div id="promo">
                    <h5>Enter the Promo Code:</h5>
                    <input type="text" name="Promo">
                    </div>
                    <input type='Submit' class='btn btn-primary pull-right' id='pay' value='Proceed to Pay'>
                </div>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="color: black;">Availble Promo Codes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color: black;">&times;</span>
                                </button>
                            </div>
                            <div>
                                {{#if s}}
                            <div class="d-flex justify-content-center align-items-center container" >
                                <div class="d-flex card text-center">
                                    <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                    <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                    <h1>{{small.discount}}% OFF</h1><span class="d-block">On Small Size Rooms</span>
                                    <div class="mt-4"><small>With Code : {{small.promo_code}}</small></div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if m}}
                            <div class="d-flex justify-content-center align-items-center container">
                                <div class="d-flex card text-center">
                                    <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                    <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                    <h1>{{medium.discount}}% OFF</h1><span class="d-block">On Medium Size Rooms</span><span class="d-block">Today</span>
                                    <div class="mt-4"><small>With Code :{{medium.promo_code}} </small></div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if l}}
                                <div class="d-flex justify-content-center align-items-center container">
                                    <div class="d-flex card text-center">
                                        <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                        <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                        <h1>{{large.discount}}% OFF</h1><span class="d-block">On Large Size Rooms</span><span class="d-block">Today</span>
                                        <div class="mt-4"><small>With Code : {{large.promo_code}}</small></div>
                                    </div>
                                </div>
                                {{/if}}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button id="promo_code"  data-toggle="modal" data-target="#exampleModalCenter">Promo Code</button>
        </div>
    </div>
 <script>
     const room_id = document.getElementById("room_id").value;
   console.log(room_id);
    document.getElementById("date").style.display = "none";
    document.getElementById("pay").style.display = "none";
    document.getElementById("promo").style.display = "none";
    async function mytime(){
        const response = await fetch("/user/date", {
            headers: {
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({
                timeslot: document.getElementById("time").value,
                room_id: room_id
            })
        });
        if (response.ok) {
            const content = await response.json();
            document.getElementById("date").style.display = "inline";
            var disabledDays =  content.block;
           
                /* utility functions */
                function nationalDays(date) {
                    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
                    //console.log('Checking (raw): ' + m + '-' + d + '-' + y);
                    for (i = 0; i < disabledDays.length; i++) {
                        if ($.inArray(y + '-' + (m + 1) + '-' + d, disabledDays) != -1 || new Date() >
                            date) {
                            //console.log('bad: ' + (m+1) + '-' + d + '-' + y + ' / ' + disabledDays[i]);
                            return [false];
                        }
                    }
                    //console.log('good: ' + (m+1) + '-' + d + '-' + y);
                    return [true];
                }

                function noHolidays(date) {
                    return nationalDays(date);
                }
                $(function () {
                    $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd', minDate: +2, beforeShowDay: noHolidays });
                });
               
    }
    }
     function mydate(){
         document.getElementById("pay").style.display = "inline";
         document.getElementById("promo").style.display = "inline";
     }
    
</script>