<style>
	body {
		background: rgb(0, 0, 0)
	}

	#regForm {
		background-color: gold;
		margin: 0px auto;
		font-family: Raleway;
		padding: 40px;
		border-radius: 10px
	}

	#register {
		color: #000000
	}

	h1 {
		text-align: left;
	}

	.details {
		padding: 10px;
		width: 100%;
		font-size: 17px;
		font-family: Raleway;
		border: 1px solid #aaaaaa;
		border-radius: 10px;
		-webkit-appearance: none
	}

	#pay {
		width: 20%
	}

	.tab input:focus {
		border: 1px solid #6a1b9a !important;
		outline: none;
	}


	.tab {
		display: none;
	}




	.all-steps {
		text-align: left;
		margin-top: 70px;
		margin-bottom: 30px;
		width: 60%;
		display: inline-flex;
		justify-content: left;
	}

	.step {
		height: 40px;
		width: 40px;
		margin: 0 2px;
		background-color: #000000;
		border: none;
		border-radius: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		color: #fcfcfc;
	}

	.all-steps {
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0px
	}

	.qr {
		position: fixed;
		right: 400px;
		bottom: 260px;
		width: 150px;
		height: 150px;
		text-align: center;
	}
	.img {

		border: 3px solid rgb(0, 0, 0);
	}
	.thanks-message {
		display: none
	}
</style>
<style>
	#hello:hover {
  letter-spacing: 0.8em;
  background-color: gold;
  color: #000000;
  border: 3px solid rgb(0, 0, 0);
}

#hello {
  color: white;
}
.button {
    height: 4em;
    width: auto;
    padding: 1.5em auto;
    margin: 1em auto;
    margin-left: 6em;
    left: 10px;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

@import "compass/css3";


#paypal-button{
	margin-left: 400px;
    background-color: rgb(25 25 25);
    border: 3px solid rgb(0, 0, 0);
    color: #00a1ff;
	border-radius: 20px;
	height: 50px;
	width: 200px;

}
#change{
		    border: 2px solid gold;
			color: rgb(255, 255, 255);
			margin-left: 10px;
			margin-right: 10px;
			border-radius: 0mm;
			width: 200px;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
}
#change:hover{
	background-color: gold;
	color: #000000;
	border: 3px solid rgb(0, 0, 0);
}
</style>
<body onload="generate_qr_code(null)">
<div class="container mt-5">

	<div class="row d-flex justify-content-center align-items-center">
		<div id="payment">
			<button class="button"  id="change" onclick="nets()">NetsQR</button>
			<button class="button"  id="change" onclick="paypal()">PayPal</button>
			<button class="button" id="change" onclick="card()">Card</button>
		</div>
		<div class="col-md-8">
			<div id="regForm">
			<div id="qrcode">
				<div class="all-steps" id="all-steps">
					<span class="step"><i class="fa fa-mobile-phone"></i></span>
					<h1>Nets QR</h1>
				</div>
				<div>
					<input type="number" name="amount" id="price" value="{{price}}" style="display: none;">
					<h3> Room Details</h3>
										<input type="text" id="choice" value="{{choice}}" style="display: none;">
					<input type="text" id="room_id" value="{{details.room_uuid}}" style="display: none;" >
					<input type="text" id="time" value="{{time}}" style="display: none;">
					<input type="text" id="date" value="{{date}}" style="display: none;">
										<h5> Location: {{details.location}}</h5>
										<h5> Time Slot: {{time}}</h5>
										<h5> Date: {{date}}</h5>
										<h5> Room type: {{details.roomsize}}</h5>
										<h5>Room Name: {{details.roomname}}</h5>
										<h5> Price: ${{price}}</h5>
						
						<p>  ***Pay in 10mins***</p>
						<div class="qr">
							<img src="null" id="qr_code" class="img">
							<h4>Scan To Pay</h4>
						</div>
				</div>
			</div>
			<div id="paypal">
				<div class="all-steps" id="all-steps">
					<h1>PayPal</h1>
				</div>
				<div>
					<h3> Room Details</h3>
										<h5> Location: {{details.location}}</h5>
					<h5> Time Slot: {{time}}</h5>
					<h5> Date: {{date}}</h5>
					<h5> Room type: {{details.roomsize}}</h5>
					<h5>Room Name: {{details.roomname}}</h5>
					<h5> Price: ${{price}}</h5>
					<p> ***Pay in 10mins***</p>
					<form method="POST" action="/payment/paypal/{{choice}}/{{details.room_uuid}}/{{date}}/{{time}}">
					<input type="number" name="amount" id="price" value="{{price}}" style="display: none;">
					 <button id="paypal-button" type="submit">
							Pay by
							<i>Pay</i><i>Pal</i>
					</button>
					</form>
				</div>
			</div>
			<div id="card">
				<div class="all-steps" id="all-steps">
					<h1>Card Payment</h1>
				</div>
				<div>
					<h3> Room Details</h3>
					<h5> Location: {{details.location}}</h5>
					<h5> Time Slot: {{time}}</h5>
					<h5> Date: {{date}}</h5>
					<h5> Room type: {{details.roomsize}}</h5>
					<h5>Room Name: {{details.roomname}}</h5>
					<h5> Price: ${{price}}</h5>
					<p> ***Pay in 10mins***</p>
					<form action="/payment/card/{{choice}}/{{price}}/{{details.room_uuid}}/{{date}}/{{time}}" method="POST">
						<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_51JH64qCNftL7aDDGxbmRaLzvCWayIEyV27af9E3JXthLTjN9kQdPbtZNhPQM7Sp2eKsaQly6wunPsZL0wkwI8Qsu00RrfNYjBl"
							data-amount='{{cents}}' data-name="Golden TV" data-description="Booking {{details.roomsize}} Room"
							data-image="https://scontent.fsin9-1.fna.fbcdn.net/v/t1.6435-9/237676555_100526092351031_8861511726848720352_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=3142yXkI0cYAX_9LnBy&_nc_ht=scontent.fsin9-1.fna&oh=aeb20194ff891725c54c5bc454035a17&oe=613ED79A" data-locale="auto">
							</script>
							<input type="number" name="amount" value="{{cents}}" style="display: none;">
						<script>
							document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
						</script>
						<button type="submit" id="paypal-button">Pay with
						<i>Card</i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
<script>
	/**
	 * Make a request to generate the QR code
	 * @param {InputEvent} event
	 **/
	document.getElementById("paypal").style.display = "none";
	document.getElementById("card").style.display = "none";
	async function generate_qr_code(event) {
		const response = await fetch("/payment/generate", {
			headers: {
				"Content-Type": "application/json"
			},
			method: "POST",
			body:   JSON.stringify({
				amount: document.getElementById("price").value * 100
			})
		});
		if (response.ok) {
			const content = await response.json();
			preview_qr_code(content.qr_code);

			//	Start auto ping
			setTimeout(ping_transaction_status, 1000, 0, content);
		}
	}
	/**
	 * Displays the QR code
	 * @param {string} qr_code
	 **/
	function preview_qr_code(qr_code) {
		document.getElementById("qr_code").src = `data:image;base64,${qr_code}`;
	}
	/**
	 * Make a HTTP request to query the generated transaction
	 * @param {JSON}   transaction
	 * @param {number} attempt 0 ... N
	 **/
	async function ping_transaction_status(attempt, transaction) {
		if (attempt > 600)
			return void_transaction(transaction);
		try {
			const response = await fetch("/payment/query", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					txn_identifier:   transaction.txn_identifier,
					transaction_date: transaction.transaction_date,
					transaction_time: transaction.transaction_time,
					stan:             transaction.stan,
					amount:           transaction.amount,
					room_id: document.getElementById("room_id").value
				})
			});

			if (!response.ok) { throw new Error ("Failed to query transaction"); }
			const content = await response.json();
			const status  = content.status;
			
			switch (status) {
				case 0:
					console.log(`Awaiting for payment: ${attempt}`);
					return setTimeout(ping_transaction_status, 1000, attempt + 1, transaction);
				break;
				case 1: 
					console.log(`Payment succeeded`);

					document.getElementById("payment").style.display = "none";
					window.location.href = "/payment/success/"+document.getElementById("choice").value +"/"+ document.getElementById("price").value+"/"+document.getElementById("room_id").value + "/" +document.getElementById("date").value + "/" +document.getElementById("time").value;
				break;
				case -1:
					console.log(`Payment cancelled`);
					document.getElementById("payment").style.display = "none";
					window.location.href = "/payment/cancel";
					//	TODO: Hide the qr code, set image to X
				break;
			}
		}
		catch (error) {
			console.error(error);
			console.error(`Failed to ping transaction :${transaction.txn_identifier}`);
		}
	}


	async function void_transaction(transaction) {
		try {
			const response = await fetch("/payment/void", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					txn_identifier:   transaction.txn_identifier,
					transaction_date: transaction.transaction_date,
					transaction_time: transaction.transaction_time,
					stan:             transaction.stan,
					amount:           transaction.amount
				})
			});

			if (!response.ok) { throw new Error ("Failed to void transaction"); }
			const content = await response.json();
			const status  = content.status;
			
			switch (status) {
				case 1:
					console.log(`Transaction cancelled successfully`);
					document.getElementById("payment").style.display = "none";
					window.location.href = "/payment/timeout";
				break;

				default:
					console.log(`No action required`);
				break;
			}
		}
		catch (error) {
			console.error(error);
			console.error(`Failed to void transaction :${transaction.txn_identifier}`);
		}
	}
</script>
<script>
function nets(){
	document.getElementById("paypal").style.display = "none";
	document.getElementById("qrcode").style.display = "inline";
	document.getElementById("card").style.display = "none";
}
function paypal() {
		document.getElementById("paypal").style.display = "inline";
		document.getElementById("qrcode").style.display = "none";
		document.getElementById("card").style.display = "none";
	}
function card() {
	document.getElementById("paypal").style.display = "none";
			document.getElementById("card").style.display = "inline";
			document.getElementById("qrcode").style.display = "none";
		}
</script>
</body>